---
import Layout from "../layouts/Layout.astro";

import Badge from "../components/Badge.astro";
import LinkendIn from "../components/Icons/LinkendIn.astro";
import Social from "../components/Social.astro";
import Githu from "../components/Icons/Githu.astro";
import Mail from "../components/Icons/Mail.astro";
---

<Layout
  title="Porfolio de Luis  - Desarrollador y Programador Web."
  description="hola"
>
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1
        class="text-white text-5xl font-bold justify-center flex-row gap-x-4 pb-4"
      >
        Hola, soy Luis Martinez <a
          href="https://www.linkedin.com/in/luis-martinez-bb0618268/overlay/about-this-profile/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B7eNLTs%2FaSi6rRQ%2BM6ggiqg%3D%3D"
          target="_blank"
          rel="noopener"
          class="justify-center itmes-center"
        >
          <Badge>Disponibilidad para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity 80">
        Soy un apasionado <span class="text-green-200/90 opacity-90">
          "desarrollador web", "diseñador gráfico", "fotógrafo", etc.</span
        > Con una dedicación inquebrantable a la creatividad y la innovación. Con
        3 años de experiencia en el campo, he tenido la oportunidad de trabajar en
        diversos proyectos que van desde <span class="text-yellow-200/90">
          "sitios web interactivos", "identidades visuales impactantes",
          "fotografías que capturan momentos únicos".</span
        >
      </h2>
      <nav class="flex gap-x-2 mt-8">
        <Social
          href="https://www.linkedin.com/in/luis-martinez-bb0618268/overlay/about-this-profile/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B7eNLTs%2FaSi6rRQ%2BM6ggiqg%3D%3D"
        >
          <LinkendIn class="size-6" />
        </Social>

        <Social href="https://github.com/Luismar90/desktop-tutorial">
          <Githu class="size-6" />
        </Social>

        <Social href="mail.com">
          <Mail class="size-6" />luismar9099@gmail.com
        </Social>
      </nav>
    </section>
  </main>
</Layout>
